﻿body {
    background-color:bisque;
}
.class_main{
    background-color:lavenderblush;
    padding:30px;
    border-radius:60px;
    margin-top:75px;
}
.class_main h1{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-size:42px;
}
.class_sub_main{
    float:left;
    width:35%;
}
#sub_main1{
        border:3px groove bisque;
        padding:50px;
        border-radius:20px;
}
#sub_main2{

}
#sub_main3{
    padding:76px;
    width:67%;
    margin:-26px;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}

#cleared{
    clear:both;
}
h2{
    text-align:center;
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font:bold 12px lighter;
}
h3{
    color:red;
}
#pick_address{
    border-radius:5px;
}
table, th{
    width:25%;
}
