﻿@model Parcel_Demo.Models.ParcelViewModel

@{
    ViewBag.Title = "Index";
}
<link href="~/CSS/Parcel_Style.css" rel="stylesheet" />
<script src="~/JS/Parcel_Script.js"></script>
<script src="~/scripts/jquery-1.10.2.js"></script>
<script src="~/scripts/jquery-1.10.2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="class_main">
    <h1>Pack your Parcel</h1>
    <div class="class_sub_main" id="sub_main1">
        <div>
            <h3>Get a Quote..</h3>
        </div>
        <div class="get_a_quote">
            <form id="myForm">
                <input class="form-control" type="text" id="main_location" name="main" maxlength="100" placeholder="Select Location" required><br />
                @*<span class="Error1" id="errormsg"> </span><br />*@
                <input class="form-control" type="text" id="location_sendin" name="location" placeholder="Sending To" required>
                @*<span class="Error2" id="errormsg"> </span>*@<br />
                <input class="form-control" type="number" id="post_code" name="post" placeholder ="Post Code" required><br />
                @*<span class="Error3" id="errormsg"> </span>*@
                <label> Package Size</label>
                <div class="form-check-inline">
                    <label class="radio-inline">
                        <input type="radio" class="form-check-input" id="small" name="radio">Small
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="form-check-input" id="medium" name="radio">Medium
                    </label>
                    <label class="radio-inline">
                        <input type="radio" class="form-check-input" id="large" name="radio">Large
                     </label>
                </div>
                
                <div id="hidden1">
                    <input class="form-control" type="number" id="length"  min="1" max="200" placeholder="Length in (mm)" required><br />

                    <input class="form-control" type="number" id="breadth" min="1" max="300" placeholder="Breadth in (mm)" required><br />

                    <input class="form-control" type="number" id="height" min="1" max="150" placeholder="Height in(mm)" required><br />
                    <span>Your price will be</span><br />
                    <input class="form-control" value="$6.00" readonly alt="Price for Small Size"><br />

                </div>
                <div id="hidden2">
                    <input class="form-control"  type="number" id="length" min="200" max="300" placeholder="Length in (mm)" required><br />

                    <input class="form-control"  type="number" id="breadth" min="300" max="400" placeholder="Breadth in (mm)" required><br />

                    <input class="form-control"  type="number" id="height" min="150" max="200" placeholder="Height in(mm)" required><br />
                    <span>Your price will be</span><br />
                     <input class="form-control" value="$7.50" readonly alt="Price for Medium Size"><br />
                   
                </div>
                <div id="hidden3">
                    <input class="form-control" type="number" id="length" min="300" max="400" placeholder="Length in (mm)" required><br />

                    <input class="form-control" type="number" id="breadth" min="400" max="600" placeholder="Breadth in (mm)" required><br />

                    <input class="form-control" type="number" id="height" min="200" max="250" placeholder="Height in(mm)" required><br />
                    <span>Your price will be</span><br />
                    <input class="form-control" value="$8.50" readonly alt="Price for Large Size"><br />

                </div>
                <input class="form-control" type="number" id="weight" min="1" max="25" placeholder="Weight in (kg)" required><br />
                <div>
                    <input type="submit" class="btn btn-info" value="Get a quote" onclick="Save()">
                </div>
            </form>
        </div>
    </div>
    <div class="class_sub_main" id="sub_main2">

    </div>
    <div class="class_sub_main" id="sub_main3">
        <h3>Our Parcel Services</h3>
        <p>
            We are the smart and cost-effective way to send parcels and small packages under 25kg around the greater Auckland area three times daily and intercity throughout NZ.

            Our expertise in door-to-door delivery of just-in-time inventory and replenishment stock means peace of mind knowing your parcels will be safe aboard our modern, well-maintained fleet of large vans and small trucks.
        </p>
    </div>
    <div id="cleared"></div>

</div>
<script>
    $(document).ready(function () {
        
        $("#hidden1").hide().prop('required',false);
        $("#hidden2").hide().prop('required',false);
        $("#hidden3").hide().prop('required',false);

        $("#small").change(function () {
            $("#hidden1").show();
            $("#hidden2").hide().prop('required',false);
            $("#hidden3").hide().prop('required', false);
        });

        $("#medium").change(function () {
            $("#hidden2").show();
            $("#hidden1").hide().prop('required',false);
            $("#hidden3").hide().prop('required', false);

            $('#price1 :input').each(function ()
            { $(this).attr("disabled", true); });
        });
        $("#large").change(function () {
            $("#hidden3").show();
            $("#hidden1").hide().prop('required',false);
            $("#hidden2").hide().prop('required',false);
        });
    });

</script>